@import 'base';

@import 'base';
@import 'components/sidebar';
@import 'highlight-js-theme-light';

html, body {
    background: $light-grey;
}

.container {
    @include outer-container;
    padding-bottom: $spacing-large;

    background: none;
}

.content {
    @include span-columns(12);
    margin-top: $navbar-height + $spacing-medium;

    background: none;

    @include media($tablet) {
        @include span-columns(5);
    }
    @include media($mobile) {
        @include span-columns(3);
        @include shift(0.5);
    }

    :first-child {
        margin-top: 0;
    }

    h1, h2 {
        word-wrap: break-word;
        color: $red;
        font-family: $font-mono;

        a {
            color: $red;
        }
    }

    h2 {
        font-size: modular-scale($modular-scale-base, 2, $modular-scale-ratio);
    }

    h6 {
        color: $dark-grey;
    }

    pre {
        margin: $spacing-medium 0;
    }

    img {
        max-width: 100%;
    }

    table {
        table-layout: fixed;
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        margin-left: -$spacing-small;

        thead {
            margin-bottom: $spacing-small;
        }

        th {
            padding: $spacing-small;
            text-align: left;
            font-weight: 400;
        }

        td {
            border: 1px solid #ccc;
            padding: $spacing-small;
            word-wrap: break-word;
            vertical-align: text-top;
            &:nth-child(1) { width: 25%; }
            &:nth-child(2) { width: 25%; }
            &:nth-child(3) { width: 50%; }
        }
    }
}

.doc--code {
    color: $light-blue;
}

.doc--arguments code {
    background: none;
}

.doc--block {
    margin: $spacing-medium auto;
    padding: $spacing-standard;

    background: $white;
    border-radius: $radius;
    @include outset-shadow;
}

.normal { font-weight: normal; }

.menu--open > .menu--nested {
    max-height: 900px;
    transition: max-height 0.5s ease-in;
}
